---
---

<main>
    <h1>Hi, I'm <span>Fernando Falcon</span></h1>
    <h2>
        Creative <span>Web and Graphic Designer with over 15 years of experience</span> in user interface design, web development, and graphic design. Proven expertise in leading design projects, crafting user-friendly interfaces, and developing responsive website designs. Adept at CSS architecture, and animated web content with extensive certification in modern web technologies.
    </h2>
    <h3>Reach out</h3>
    <nav>
        <a href="https://www.linkedin.com/in/fernandofalcon/">
            <img src="./images/linkedin.svg" alt="LinkedIn">
            LinkedIn
        </a>
        <a href="https://www.behance.net/ferfalcon">
            <img src="./images/behance.svg" alt="Behance logo">
            Behance
        </a>
        <a href="https://github.com/ferfalcon">
            <img src="./images/github.svg" alt="GitHub logo">
            GitHub
        </a>
        <a href="https://www.frontendmentor.io/profile/ferfalcon">
            <img src="./images/frontendmentor.svg" alt="Frontend Mentor logo">
            Frontend Mentor
        </a>
    </nav>
    <footer>
        <a href="mailto:fer.falcon.dg@gmail.com">
            <img src="./images/email.svg" alt="Email icon">
            Drop me a line
        </a>
        <a href="https://ferfalcon.com/assets/fer-falcon-resume.pdf">
            <img src="./images/pdf.svg" alt="PDF file icon">
            Download resume
        </a>
    </footer>
</main>